*{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}


#new{
    margin-top:60px;
    font-size:15px;
    color:rgb(255, 128, 0);
}

#macbook{
    font-weight:550;
    font-size:45px;
    margin:0px;
}

#super{
    font-size:24px;
    font-weight: 600;
    margin:0px;
    margin-top:8px;
}

#price{
    margin-top:25px;
    font-weight:lighter;
    margin-bottom:10px;
}

button{
    border-style: none;
    background-color: rgb(3, 113, 222);
    color:white;
    font-weight: lighter;
    font-size:16px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 20px;
    cursor:pointer;
}

button:hover{
    background-color:rgb(5, 124, 242);
}

#more{
    color:rgb(3, 104, 205);
    cursor: pointer;
    margin-left:20px;
    font-weight: lighter;
}

#more:hover{
    text-decoration: underline;
}

#symbol{
    margin-left: 3px;
}

.inline{
    display:inline-block;
    vertical-align: middle;
    margin-top:0px;
}

