p{
    /* the comma and Arial is called a font sack */
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    margin:0;
    padding-top:70px;
    padding-left:80px;
}