.header{
    height:55px;
    display:flex;
    /* display the items horizontally */
    flex-direction:row;
    justify-content:space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    
    background-color: white;
    border-bottom: 1px solid rgb(205, 205, 205);
    z-index:100;
}

.left-sec{
    /* background-color:lightblue; */
    margin-right:70px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu{
    height:24px;
    margin-left: 24px;
    margin-right:24px;

}

.youtube-logo{
    height:20px;
}

.middle-sec{
    /* background-color: beige; */
    flex:1;
    margin-right:35px;
    /* width can be less than 300px, but its max is 300px */
    max-width:500px;
    display:flex;
    align-items:center;
}

.search-bar{
    font-size:15px;
    /* it switches to block element, making it use the next line */
    /* display: block;  */
    flex:1;
    height:36px;
    border-radius:2px; 
    border:1px solid rgb(203, 203, 203);
    /* u write inset next to box shadow when want to put shadow inside the box */
    box-shadow:inset 1px 2px 2px rgba(0, 0, 0, 0.05);

    /* this is to set the default width 0 */
    width:0;
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size:15px;
    padding-left:10px;

}

.search-button{
    height:40px;
    width:66px;
    background-color: rgb(242, 242, 242);
    border:1px solid rgb(203, 203, 203);
    margin-left:-2px;
    margin-right:10px;
}

.search-icon{
    height:25px;
    margin-top:4px;
}

.voice-search-button{
    height:40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(242, 242, 242);
}

.voice-icon{
    width:24px;
    margin-top:3px;
}
.right-sec{
    /* background-color: rgb(239, 120, 23); */
    width:180px; 
    /* height:400px; */
    /* the only way for me to instead hire the actual is one  */  
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right:23px;
    /* this prevents from shrinking */
    flex-shrink:0;
}

.upload-icon{
    height:24px;
}

.apps-icon{
    height:24px;
}

.notif-icon{
    height:24px;
}

.notif-class{
    position: relative;
}

.notif-count{
    background-color: red;
    color:white;
    position:absolute;
    top: -4px;
    right:-4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:9px;
    border-radius: 50%;

    /* top right bottom left */
    padding:2px 5px;
}

.pfp-icon{
    height:32px;
    border-radius: 50%;
}

