.header{
    height:55px;
    display:flex;
    /* display the items horizontally */
    flex-direction:row;
    justify-content:space-between;
}

.left-sec{
    /* background-color:lightblue; */
    margin-right:70px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu{
    height:24px;
    margin-left: 24px;
    margin-right:24px;

}

.youtube-logo{
    height:20px;
}

.middle-sec{
    /* background-color: beige; */
    flex:1;
    margin-right:35px;
    /* width can be less than 300px, but its max is 300px */
    max-width:500px;
    display:flex;
    align-items:center;
}

.search-bar{
    font-size:15px;
    /* it switches to block element, making it use the next line */
    /* display: block;  */
    flex:1;
    height:36px;
    border-radius:2px; 
    border:1px solid rgb(203, 203, 203);
    /* u write inset next to box shadow when want to put shadow inside the box */
    box-shadow:inset 1px 2px 2px rgba(0, 0, 0, 0.05)
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size:15px;
    padding-left:10px;

}

.search-button{
    height:40px;
    width:60px;
}

.search-icon{
    height:40px;
}

.voice-search-button{
    height:40px;
    width: 40px;
}

.right-sec{
    background-color: rgb(239, 120, 23);
    width:200px; 
    /* height:400px; */
    /* the only way for me to instead hire the actual is one  */

}

.nobe{
    height:400px;
}