*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
}

#main{
    background: url(https://pixabay.com/get/ga22ae2d2751d72b3bde4ec3b8696624b9892a1fc86ed8d1bf4ca296d069e2f2d2c9bd7c43a2bcc143b36948dd4694e3aa949137be4733dc366823ad0911ce1633ae1bd4a98696be64341557bce45497b_1920.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    /* this two lines below always make the pic fit the screen */
    
    width:100vw;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
}   

#contents{
    color:white;
    text-align: center;
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);

}

a{
    /* inherits from da parents */
    color:inherit;
    text-decoration: none;
}

#contents h1{
    font-family: 'Playfair Display', serif;
    font-size:65px;
    margin-bottom: 16px;
}

#contents p{
    font-size:23px; 
    margin-bottom: 16px;
}

#contents a{
    display:inline-block;
    border: 2px solid white;
    border-radius:20px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    transition:all 0.5s;
}

#contents a:hover{
    background-color: purple;
}

#box{
    width:100vw;
    height: 100vh;
    background: #3B393D;
    opacity: 0.4;
}

/* #box:before{
    content: "";
    display: block;
    padding-top: 20%;
} */

@media(max-width:800px){
    #contents h1{
        font-size:50px;
    }
    
    #contents p{
        font-size:20px; 
    }

    #contents a{
        font-size:14px;
    }
}