*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
}
/* this is for initializing the style sheet of the browser screen  */

body{
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    /* to set up the card ui in the center  */
    background-color: #171c3c;
}

.card{
    width:200px;
    height:300px;
    background-color: #ed4848;
    position:relative;
    /* this allows the cursor to change into a diff shape so we can click it */
    cursor:pointer;
    /* this gives the transition effect of the chnage in colors of the box */
    transition: all 0.4s; 


}

/* this changes the screen when you hover ur cursor to the icon  */
.card:hover{
    box-shadow: inset 0 0 0 100px rgba(255, 190, 0, 0.7)
    /* inset allows  */
}

.card i{
    /*This class refers to the i tag in the class card, 
    so refers to the icon itself. */ 
    color:white;
    position:absolute;
    left: 50%;
    top: 50%;

    margin-left:-54px; 
    margin-top: -48px;
    transition: all 0.4s;
    /* this basically moves the item to the left (minus) */
}

/* change of the icon part when you hover ur cursor */
.card i:nth-of-type(1){
    transform: scale(0);
}

/* this is when you hover the cursor to the icon, 
the image will show its 1x size(so the orginial size) */
.card:hover i:nth-of-type(1){
    transform: scale(1);
}

.card:hover i:nth-of-type(2){
    transform: scale(0);
}

/* so all 3 of the above selectors give the image switching effect.
when the cursor goes to the icon, the second image will show(scale 1)
and the first image will disappear as its scale is set to a 0*/